  <div class="contract">
   <ul>
    <li>
     <label id="continuation" class="check label">
      <input checked class="radio_btn" type="radio" name="plan" value="1">
      <span>契約を継続する</span>
     </label>
    </li>
    <li>
     <label id="change" class="check label">
      <input checked class="radio_btn" type="radio" name="plan" value="2">
      <span>プラン変更する</span>
     </label>
    </li>
   </ul>
 </div>

<%= link_to "hoge", hogehoge_path %>
